@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", "sans-sarif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: .4rem;
  cursor: pointer;
  background: #90f997;
  font-weight: bold;
  transform: background ease 0.2s;
  border-radius: 1rem 1rem 0 0;
  text-align: center;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #fffdec;
  box-shadow: 1rem 1rem #86b089;  
  border-radius: 0 1rem 1rem 1rem;
  flex-direction: column;
  align-items: center;
}

.aboutme {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.aboutme ul {
  list-style: none;
  font-size: 24px;
}

.aboutme ul li {
  margin: 1rem 0;
}

.tab p {
  width: 95%;
  margin: 0 1rem 0.5rem 1rem;
  text-align: left;
}

.project {
 width: 80%;
 border-radius: 1rem;
 background-color: #b2d2b4;
 margin: 1rem 0;
 padding: 1rem;
}

.project h3, .project h4 {
  width: 100%;
  text-align: center;
}

.aboutme-text {
  display: flex;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fffdec;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: flex;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
    border-radius: 0;
  }
  /* .tabs .tab {
    display: block;
  } */
}

.tabs .tab h1 {
  text-align: center;
  width: 100%;
}


body {
  background: #ddd;
  min-height: 100vh;
	box-sizing: border-box;
	padding-top: 10vh;
  font-weight: 400;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 100%;
}

.my-photo {
  display: flex;
  width: 15%;
  border-radius: 50%;
  border: 0.25rem solid #86b089;
  margin: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: #86b089;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.contact div {
  display: flex;
}