* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.selfie {
position: relative;

  @media only screen and (max-width: 500px) {
    left: -10%;
  }

  @media only screen and (max-width: 430px) {
    left: -20%;
  }

  @media only screen and (max-width: 345px) {
    left: -35%;
  }

  @media only screen and (max-width: 300px) {
    left: -40%;
  }
}

body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


.Hero {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100dvh;
  background-color: rgb(92, 110, 100);
}

.texts {
  position: absolute;
  top: 25%;
  right: 10%;
  margin-right: 6rem;
  margin-left: 6rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  padding: 2rem;

  .name {
    text-wrap: nowrap;
    text-align: center;
    font-size: 72px;
    z-index: 10;
  }
  
  .title {
    position: relative;
    text-align: center;
    font-size: 48px;
  }

  @media only screen and (max-width: 1500px) {
    right: 0;
  }
  
  @media only screen and (max-width: 1250px) {
    margin: 2rem;

  }


  @media only screen and (max-width: 1080px) {
    top: 45%;
    left: 0;
    right: 0;

    padding: 1rem;
  }

  @media only screen and (max-width: 853px) {
    .name {
      font-size: 60px;
    }
    .title {
      font-size: 36px;
    }
  }

  @media only screen and (max-width: 650px) {
    top: 50%;
    background: rgb(0,0,0,0.50);
    border-radius: 2rem;
    margin: 0;
    .name {
      font-size: 48px;
    }
    .title {
      font-size: 24px;
    }
  }

  @media only screen and (max-width: 550px) {
    .name {
      font-size: 42px;
    }
    .title {
      font-size: 24px;
    }
  }

  @media only screen and (max-width: 450px) {
    top: 65%;
    background: rgb(0,0,0,0.50);
    .name {
      font-size: 30px;
    }
    .title {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 340px) {
    padding: 0.5rem;
    .name {
      font-size: 24px;
    }
    .title {
      font-size: 18px;
    }
  }
}

.scroll-indicator {
  position: absolute;
  width: 1.5rem;
  height: 1rem;
  bottom: 12%;
  margin: auto;
  right: 0;
  left: 0;
}

.chevron {
  position: absolute;
  width: 1.75rem;
  height: 0.5rem;
  opacity: 0;
  transform: scale3d(0.5,0.5,0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.scroll-text {
  display: block;
  margin-top: 75px;
  margin-left: -27.5px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}





